@charset "UTF-8";
.mainlogo, .footerlogo, .headerlogo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.navigation__link,
.navigation__item,
.contact__link,
.advantages__title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #f5f4fa;
}

.advantages__text,
.address__text,
.footer__link,
.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.secondarytitle {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.footersocial__title,
.footersubmit__title,
.activity__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.checkbox__button,
.submitBox__btn {
  padding: 0;
  width: 200px;
  height: 50px;
  color: #ffffff;
  border-color: transparent;
  background-color: #2196f3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
}

.checkbox_button--demensions {
  padding: 0;
  margin-top: 20px;
  width: 200px;
  height: 50px;
}

.submitBox__btn, .hero__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2196f3;
  color: #f5f4fa;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1), fill 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__label, .form__label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: #757575;
  letter-spacing: 0.01em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  font-family: Roboto, sans-serif;
  color: #212121;
}

.list, .projects, .sorting__list, .footersocial__list, .footer__list, .clients, .worker__list, .activity__list, .advantages__list, .navigation__list {
  list-style: none;
  text-decoration: none;
}

.link, .footer__link, .contact__link, .navigation__link {
  text-decoration: none;
  transition: color 555ms cubic-bezier(0.4, 0, 0.2, 1);
}

.container, .sorting, .footer__container, .worker, .activity, .advanteges, .hero__container, .header__container {
  width: 1200px;
  padding: 0 15px 0 15px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.headerlogo {
  margin-right: 93px;
}

.firstpartlogo {
  color: #2196f3;
}

.secondpartlogo {
  color: #000000;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__link {
  padding-top: 25px;
  padding-bottom: 25px;
  color: #212121;
}
.navigation__link:hover, .navigation__link:focus {
  color: #2196f3;
}

.navigation__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-right: 50px;
  font-family: "Roboto";
  font-style: normal;
}
.navigation__item:last-child {
  margin-right: 0;
}

.navigation__list {
  display: flex;
}

.navigation__link--active::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  left: 0%;
  border-radius: 2px;
  background-color: #2196f3;
}

.navigation__link--active {
  color: #2196f3;
}

.contact {
  display: inline-flex;
}
.contact__item {
  margin-right: 50px;
}

.contact__imagemail,
.contact__imagephone {
  margin-right: 10px;
  fill: currentColor;
  transition: fill 555ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link {
  color: #757575;
}
.contact__link:hover, .contact__link:focus {
  fill: #2196f3;
  color: #2196f3;
}

.hero {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/heropic.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 0;
}

.hero__container {
  padding: 200px 15px 200px 15px;
  height: 600px;
  text-align: center;
}

.hero__button {
  padding: 0;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  border: transparent;
  align-content: center;
}
.hero__button:hover {
  color: black;
  background-color: rgb(46, 235, 8);
}

.advantages__icon {
  display: block;
  padding: 25px 100px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}

.advanteges {
  padding-bottom: 0;
}

.advantages__list {
  display: flex;
}

.advantages__item {
  margin-right: 30px;
}
.advantages__item:last-child {
  margin-right: 0;
}

.advantages__title {
  margin-bottom: 10px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.activity__list {
  display: flex;
}

.activity__description {
  display: block;
  position: absolute;
  width: 100%;
  bottom: 0%;
  left: 0%;
  text-align: center;
  padding: 27px 0;
  background: rgba(47, 48, 58, 0.8);
}

.activity__item {
  position: relative;
  width: 100%;
  margin-right: 30px;
}
.activity__item:last-child {
  margin-right: 0;
}

.section--color {
  background: #f5f4fa;
}

.worker__list {
  display: flex;
  justify-content: center;
}

.worker__item {
  margin-right: 30px;
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}
.worker__item:last-child {
  margin-right: 0;
}

.worker__border {
  margin: 30px 0 16px 0;
}

.worker__name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: #212121;
}

.teammate__job {
  margin-top: 10px;
  font-weight: 400px;
}

.social {
  display: flex;
  justify-content: center;
  padding: 0 32px 30px 32px;
}

.social__item {
  display: block;
  cursor: pointer;
  background-color: #fff;
  fill: #afb1b8;
  padding: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__item:hover, .social__item:focus {
  fill: #ffffff;
  background-color: #2196f3;
}
.social__item:not(:last-child) {
  margin-right: 10px;
}

.clients {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
}

.clients__item {
  flex-basis: calc(16.6666666667% - 30px);
  margin-left: 30px;
}

.clients__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  width: 100%;
  fill: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  cursor: pointer;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover, .clients__logo:focus {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

/*//////////////////////////////////////// Секция 1 "ФУТЕР САЙТА */
.footer {
  background-color: #2f303a;
}

.footer__container {
  display: flex;
  padding-bottom: 60px;
}

.footerlogo {
  display: inline-block;
  width: 145px;
  padding-top: 60px;
  margin-bottom: 20px;
}

.secondpartlogo--white {
  color: #ffffff;
}

.footer__adress {
  align-items: center;
}

.footer__text {
  margin-bottom: 9px;
  color: #ffffff;
}

.footer__item {
  margin-bottom: 9px;
}
.footer__item:last-child {
  margin-bottom: 0;
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer__link:hover, .footer__link:focus {
  color: #2196f3;
}

/*//////////////////////////////////////// Секция 2 "ФУТЕР САЙТА */
.footersocial {
  margin-left: 70px;
  padding: 72px 0 100px 0;
}
.footersocial__item:hover {
  background-color: #2196f3;
}

.footersocial__title {
  display: block;
  margin-bottom: 20px;
}

.footersocial__list {
  display: flex;
}

.footersocial__item {
  display: block;
  background: rgba(255, 255, 255, 0.1);
  padding: 12px;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: #ffffff;
  margin-right: 10px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*//////////////////////////////////////// Секция 3 "ФУТЕР САЙТА */
.footersubmit {
  margin: 72px 0 94px 93px;
}

.footersubmit__input {
  width: 358px;
  height: 50px;
  padding: 15px 0 15px 16px;
  border: 1px solid;
  border-radius: 4px;
  background-color: #2f303a;
  color: #ffffff;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}
.footersubmit__input:placeholder-shown {
  border-color: rgba(255, 255, 255, 0.3);
}
.footersubmit__input:not(:placeholder-shown) {
  border-color: rgb(3, 240, 42);
}

.footersubmit__title {
  width: auto;
  margin-bottom: 20px;
}

.submitBox__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12px;
  fill: #ffffff;
}
.submitBox__btn:hover {
  color: black;
  background-color: rgb(46, 235, 8);
  fill: black;
}

.submitBox {
  display: inline-block;
  position: relative;
}

.submitBox__icon {
  margin: 13px 0 13px 10px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1) rotate(-360deg);
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #fff;
}

.modal__button {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
  border-color: red;
}

.form__input {
  display: block;
  cursor: pointer;
  height: 40px;
  width: 100%;
  outline-style: none;
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

.modal__title {
  display: block;
  text-align: center;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--primary-link-text-color);
}

.comment__textarea {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  outline-style: none;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}
.comment__textarea:focus, .comment__textarea:not(:placeholder-shown) {
  border-color: #2196f3;
}

.form {
  position: relative;
  margin-bottom: 25px;
}
.form__input:focus + .form__label, .form__input:not(:placeholder-shown) + .form__label {
  transform: translate(-30px, -33px);
  color: #2196f3;
}
.form__input:focus, .form__input:not(:placeholder-shown) {
  border-color: #2196f3;
}
.form__input:focus ~ .form__image, .form__input:not(:placeholder-shown) ~ .form__image {
  fill: #2196f3;
}

.form__label {
  position: absolute;
  left: 40px;
  bottom: 11px;
  pointer-events: none;
  transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1), color 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__image {
  position: absolute;
  fill: #212121;
  left: 12px;
  bottom: 11px;
  pointer-events: none;
  transition: fill 750ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment__label {
  display: block;
  margin-bottom: 4px;
}

.checkbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0px 18px 0px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.checkbox__input:checked ~ .checkbox__icon {
  border-color: #2196f3;
  background-origin: border-box;
  background-color: #2196f3;
}

.checkbox__input {
  display: inline-block;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #2196f3;
  letter-spacing: 0.03em;
}

.checkbox__icon {
  margin-right: 2px;
  width: 16px;
  height: 15px;
  border: 2px solid black;
  border-radius: 4px;
  background-origin: border-box;
  cursor: pointer;
}

.sorting {
  margin-bottom: 50px;
}

.sorting__list {
  display: flex;
  justify-content: center;
}

.sorting__item {
  margin-right: 8px;
}
.sorting__item:last-child {
  margin-right: 0;
}

.sorting__button {
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #f5f4fa;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sorting__button:hover, .sorting__button:focus {
  background-color: #2196f3;
  color: #f5f4fa;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.projects__item:hover .projects__overlay {
  transform: translateY(0);
  transition: transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}

.projects__item {
  cursor: pointer;
  flex-basis: calc(33.3333333333% - 30px);
  margin-top: 30px;
  margin-left: 30px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects__img {
  position: relative;
  overflow: hidden;
}

.projects__overlay {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background: rgba(33, 150, 243, 0.9);
}

.projects__textoverlay {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.projects__border {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.projects__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects__description {
  margin-top: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: #757575;
}/*# sourceMappingURL=main.css.map */