/* основной цвет текста #212121 */
/* вторичный цвет текста #757575 */
/* цвет почты и номера телефона #757575 */
/* цвет фона #E5E5E5 */
/* акцент/ховер текста #2196F3 для навигации в шапке*/
/* ховер/акцент #2196F3 для кнопок фильтров */
/* цвет фона кнопок #F5F4FA */
/* letter-spacing: 0.02em;  навагации сайта */
/* letter-spacing: 0.03em; кнопки фильтра и вторичного цвета текста */
/* letter-spacing: 0.06em; для заголовков проектов */
/* ////////////////////////////////////////////// */

/* глобальные теги  */
:root {
    --accent-text-color: #2196f3;
    --primary-button-color: #f5f4fa;
    --primary-link-text-color: #212121;
    --primary-text-color: #212121;
    --primary-textaddress-color: #ffffff;
    --secondary-text-color: #757575;
    --effect-button-color: #2196f3;
    --effect-headerlogo-color: #2196f3;
    --secondary-footer-color: rgb(255, 255, 255, 0.6);
    --card-set-gap: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
body {
    background-color: #fff;
    font-family: Roboto, sans-serif;
    color: var(--primary-text-color);
}
.list {
    list-style: none;
    text-decoration: none;
}
.link {
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
address {
    font-style: normal;
}
.container {
    width: 1200px;
    padding: 0 15px 0 15px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}
/* ///////////////////////////////////////////////////////// СТУДИЯ ////////////////////////////////////////////////// */
/* //////////////////////////////////////////Шапка сайта */

/* //////////////////////ЛОГОТИП */
.border-header {
    border-bottom: 1px solid #ececec;
}
.header-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-navigation {
    display: flex;
    align-items: center;
}

.headerlogo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.headerlogo {
    margin-right: 93px;
}
.firstpartlogo {
    color: var(--effect-headerlogo-color);
}
/* ////////////////////////СПИСОК НАВИГАЦИИ */
.list-nav-item .link,
.list-nav-item,
.headercontact-item .link,
.advantages-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}
.list-nav-item .link {
    padding-top: 25px;
    padding-bottom: 25px;

    color: var(--primary-text-color);
}
.list-nav-item {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-right: 50px;
    font-family: 'Roboto';
    font-style: normal;
}
.list-nav-item:last-child {
    margin-right: 0;
}
.list-nav {
    display: flex;
}
.list-nav-item .active::after {
    position: absolute;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0%;
    background-color: var(--effect-button-color);
}

/* /////////////////////////// КОНТАКТЫ */
.contact {
    display: flex;
}

.icon-phone,
.icon-mail {
    fill: #757575;
    margin-right: 10px;
}

.icon-mail,
.icon-phone {
    fill: currentColor;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.headercontact-item .link {
    color: var(--secondary-text-color);
}
.headercontact-item:not(:last-child) {
    margin-right: 50px;
}

/* Секция//////////////////////////////////////////////////// "ГЕРОЙ"*/
.hero {
    margin-left: auto;
    margin-right: auto;
    max-width: 1600px;
    height: 600px;
    background-color: #c4c4c4;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/heropic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0;
}
.hero-box {
    padding: 200px 15px 200px 15px;
    height: 600px;
    text-align: center;
}
.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--primary-button-color);
}
.herobtn {
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: transparent;
    align-content: center;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: var(--effect-button-color);
    color: var(--primary-button-color);
}

/*//////////////////////////////////////////////// Секция "ПРЕИМУЩЕСТВА" */
.icon-advantages {
    display: block;
    padding: 25px 100px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: #f5f4fa;
}

.advantages {
    padding-bottom: 0;
}
.advantages-list {
    display: flex;
}
.advantages-item {
    margin-right: 30px;
}
.advantages-item:last-child {
    margin-right: 0;
}
.advantages-title {
    margin-bottom: 10px;
    font-weight: 700;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--primary-text-color);
}
.advantages-text,
.address-text,
.footercontact-item .link {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
/*/ /////////////////////////////// Секция "ЧЕМ МЫ ЗАНИМАЕМСЯ */

.secondheader {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.pictures-list {
    display: flex;
}
.image-item {
    display: block;
    position: absolute;
    width: 100%;
    bottom: 0%;
    left: 0%;
    text-align: center;
    padding: 27px 0;
    background: rgba(47, 48, 58, 0.8);
}

.pictures-item {
    position: relative;
    width: 100%;
    margin-right: 30px;
}
.pictures-item:last-child {
    margin-right: 0;
}

/*////////////////////////////////// Секция "НАША КОМАНДА" */
.team {
    background: #f5f4fa;
}
.worker-list {
    display: flex;
    justify-content: center;
}
.worker-item {
    margin-right: 30px;
    text-align: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: #ffffff;
}
.worker-item:last-child {
    margin-right: 0;
}
.worker-border {
    margin: 30px 0 16px 0;
}
.teammate-title .teammate-job {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
}
.teammate-title {
    font-weight: 500;
    color: var(--primary-text-color);
}
.teammate-job {
    margin-top: 10px;
    font-weight: 400;
}
.social-list {
    display: flex;
    justify-content: center;
    padding: 0 32px 30px 32px;
}
.social-item {
    display: block;
    background-color: #fff;
    fill: #afb1b8;
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-item:not(:last-child) {
    margin-right: 10px;
}

.social-item:hover {
    cursor: pointer;
    fill: #ffffff;
    background-color: var(--effect-button-color);
}
/* ////////////////////////////////////////////////////Секция ПОСТОЯННЫЕ КЛИЕНТЫ///////////////// */
.clients-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--card-set-gap) * -1);
}

.clients-item {
    flex-basis: calc(100% / 6 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
}
.clients_logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;

    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients_logo:hover {
    border: 1px solid var(--effect-button-color);
    fill: var(--effect-button-color);
}

/*//////////////////////////////////////// Секция 1 "ФУТЕР САЙТА */
.footer {
    background-color: #2f303a;
}
.footer-box {
    display: flex;
    padding-bottom: 60px;
}
.footerlogo {
    display: inline-block;
    width: 145px;
    padding-top: 60px;
    margin-bottom: 20px;
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.secondpartlogo {
    color: #ffffff;
}
.adress {
    align-items: center;
}
.address-text {
    margin-bottom: 9px;
    color: var(--primary-textaddress-color);
}
.footercontact-item {
    margin-bottom: 9px;
}
.footercontact-item:last-child {
    margin-bottom: 0;
}
.footercontact-item .link {
    color: rgba(255, 255, 255, 0.6);
}
.link:hover,
.link:focus {
    color: var(--accent-text-color);
}

/*//////////////////////////////////////// Секция 2 "ФУТЕР САЙТА */
.group-social {
    margin-left: 70px;
    padding: 72px 0 100px 0;
}
.footer-title {
    margin-bottom: 20px;
}
.footer-title,
.image-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #ffffff;
}
.footersocial-list {
    display: flex;
}
.footersocial-item {
    display: block;
    background: rgba(255, 255, 255, 0.1);
    padding: 12px;
    border-radius: 50%;
    width: 44px;
    height: 44px;
    fill: #ffffff;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footersocial-item:hover {
    background-color: var(--effect-button-color);
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    opacity: 1;
    transition: opacity 750ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.4) rotate(360deg);
}
.modal {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1) rotate(-360deg);
    transition: transform 750ms cubic-bezier(0.4, 0, 0.2, 1);

    width: 528px;
    height: 581px;

    background-color: #fff;
}
.modalbtn {
    display: flex;
    cursor: pointer;

    margin: 8px 8px 0 0;
    padding: 6px;
    border-radius: 50%;
    background: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
/* /////////////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////    ПОРТФОЛИО     ////////////////////////// */
/*///////////////////////////////////////////// ЭЛЕМЕНТЫ УПРАВЛЕНИЯ */

.filterbtn-box {
    margin-bottom: 50px;
}
.list-filter-btn {
    display: flex;
    justify-content: center;
}
.filter-item {
    margin-right: 8px;
}
.filter-item:last-child {
    margin-right: 0;
}
.buttonfilter {
    padding: 6px 22px;
    border-radius: 4px;
    border-color: transparent;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    background-color: #f5f4fa;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buttonfilter:hover,
.buttonfilter:focus {
    background-color: var(--effect-button-color);
    color: var(--primary-button-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*///////////////////////////////////////////// СПИСОК ГОТОВЫХ ПРОЭКТОВ  */

.list-projects {
    display: flex;
    flex-wrap: wrap;

    margin-top: -30px;
    margin-left: calc(-1 * var(--card-set-gap));
}
.project-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
    margin-top: 30px;
    margin-left: var(--card-set-gap);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-item:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}
.project-item:hover .project-overlay {
    transform: translateX(0);
    transition: transform 250ms linear cubic-bezier(0.4, 0, 0.2, 1);
}
.project-img {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    background: rgba(33, 150, 243, 0.9);
}

.text-overlay {
    position: absolute;
    top: 63px;
    left: 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #ffffff;
}

.project-border {
    padding: 20px 24px;
    border-right: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
    border-left: 1px solid #eeeeee;
}
.project-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-color);
}
.project-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}
