.clients {
    @extend .container;

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: 768px;
    }
    @media screen and (max-width: 767px) {
        width: 480px;
    }
}
.clients__list {
    @extend .list;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: -30px;
    margin-left: calc(30px) * -1;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
        margin-bottom: 0;
    }
    @media screen and (max-width: 479px) {
        display: block;
        margin-left: 0;
        flex-wrap: nowrap;
        margin-bottom: 0;
    }
}
.secondarytitle {
    margin-top: 0;
}
.clients__item {
    margin-bottom: 30px;
    margin-left: 30px;

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 6 * 30px) / 6);
        margin-bottom: 0;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        width: calc((100% - 3 * 30px) / 3);
        margin-top: 0;
        margin-right: 30px;
        margin-right: 0;
    }

    @media screen and (max-width: 767px) {
        width: calc((100% - 2 * 30px) / 2);
    }

    @media screen and (max-width: 479px) {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

.clients__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 100%;

    fill: #afb1b8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    cursor: pointer;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        border: 1px solid $effect-button-color;
        fill: $effect-button-color;
    }

    @media screen and (min-width: 1200px) {
        padding: 16px 32px;
    }
}
